{%- if section.settings.logo -%}
<a href="/" class="theme-logo">
  <img src="{{ section.settings.logo | img_url: '150x150' }}" alt="{{ section.settings.logo.alt | default: shop.name }}">
</a>
{%- else -%}
<a href="/">
  {{ shop.name }}
</a>
{%- endif -%}
<style>
  .img {
align-content: center !important;  
  }
</style>